@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
  background: #F5F5F5;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  cursor: pointer;
}

.nav-bar a.active {
  background: linear-gradient(125deg, #632EE3 5.68%, #9F62F2 88.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  border-bottom: 1px solid #8148EA;
}

.footer-head {
  @apply text-[#FFF] text-[20px] font-[500] pb-[12px];
}
